@page
@model PlayStationClub.Areas.Identity.Pages.Account.Manage.SessionsModel
@{
    ViewData["Title"] = "Сеансы";
    ViewData["ActivePage"] = PlayStationClub.Areas.Identity.Pages.Account.Manage.ManageNavPages.TwoFactorAuthentication;
}
@*TODO: перенести в стилі*@
<style>
.btn-outline-danger {
        color: #fff;
        background-color: #D02236;
        border-color: #D02236
    }

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #870B19;
        border-color: #870B19;
    }

    .btn-outline-primary {
        color: #fff;
        background-color: #5A37A6;
        border-color: #5A37A6;
    }

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #4D2F6E;
        border-color: #4D2F6E;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h4 class="text-white-50">@ViewData["Title"]</h4>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<br />

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ДАТА И ВРЕМЯ</th>
                    <th>КОМНАТА</th>
                    <th>ОЦЕНКА</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sessions.OrderByDescending(s => s.DateTime))
                {
                    <tr>
                        <td class="text-light">@item.DateTime.Date.ToString("d") @item.DateTime.DayOfWeek @item.DateTime.TimeOfDay</td>
                        <td class="text-light">@item.Room.Name</td>
                        @if (item.ReviewId != null)
                        {
                            if (@item.Review.Rating == 1)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if(@item.Review.Rating == 2)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if (@item.Review.Rating == 3)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if (@item.Review.Rating == 4)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                </td>
                            }

                        }
                        else if (@item.DateTime > DateTime.Now.AddMinutes(30) && item.ReviewId == null)
                        {
                            <td class="text-light">
                                <form method="post">
                                    <input type="submit" value="Отменить" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td class="text-light">
                                <a href="#" class="btn btn-outline-primary btn-sm" onclick="GetGameDetails('?handler=Review&sessionId=@(item.Id)')" 
                                    data-toggle="modal" data-target="#order-session-modal">Оставить отзыв</a>
                            </td>
                        }
                    </tr>
                }
    </tbody>
  </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="GameDetailsModalLabel" aria-hidden="true">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}