@page
@model PlayStationClub.Areas.Identity.Pages.Account.Manage.SessionsModel
@{
    ViewData["Title"] = "Сеансы";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="container">
  <div class="row">
    <div class="col-sm">
        <h4 class="text-white-50">@ViewData["Title"]</h4>
    </div>
    <div class="col-sm">
        <a class="room-info__book-btn" asp-page="LeaveFeedback">Оставить отзыв</a>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
<br />

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ДАТА И ВРЕМЯ</th>
                    <th>КОМНАТА</th>
                    <th>ОЦЕНКА</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sessions.OrderByDescending(s => s.DateTime))
                {
                    <tr>
                        <td class="text-light">@item.DateTime.Date.ToString("d") @item.DateTime.DayOfWeek @item.DateTime.TimeOfDay</td>
                        <td class="text-light">@item.Room.Name</td>
                        @if (item.ReviewId != null)
                        {
                            if (@item.Review.Rating == 1)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if(@item.Review.Rating == 2)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if (@item.Review.Rating == 3)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else if (@item.Review.Rating == 4)
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com.svg" />
                                </td>
                            }
                            else
                            {
                                <td class="text-light">
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                    <img src="~/img/star-svgrepo-com (filled).svg" />
                                </td>
                            }

                        }
                        else if (@item.DateTime > DateTime.Now.AddMinutes(30) && item.ReviewId == null)
                        {
                            <td class="text-light">
                                <form method="post">
                                    <input type="submit" value="Отменить" asp-route-id="@item.Id" class="btn btn-danger" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td class="text-light">
                                <img src="~/img/star-svgrepo-com.svg" />
                                <img src="~/img/star-svgrepo-com.svg" />
                                <img src="~/img/star-svgrepo-com.svg" />
                                <img src="~/img/star-svgrepo-com.svg" />
                                <img src="~/img/star-svgrepo-com.svg" />
                            </td>
                        }
                    </tr>
                }
    </tbody>
  </table>
  </div>
</div>