@model PlayStationClub.Infrastructure.ViewModels.SessionViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body__content game-details">
            <div class="game-details__content">
                <form asp-page="/Room/RoomDetails" method="post" asp-page-handler="OrderSession">
                    <h4 class="text-white-50">БРОНИРОВАНИЕ СЕАНСА</h4>
                    <br />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="roomId" name="roomId" class="form-control" value="@Model.RoomId" hidden />
                    <div class="form-group">
                        <label class="text-light">Дата</label>
                        <input type="text" id="datepicker" name="date" class="form-control" placeholder="Выберите дату" required />
                    </div>
                    <div class="form-group">
                        <label class="text-light">Длительность</label>
                        <select id="duration" name="duration" class="form-control" required>
                            <option id="continuance" value="" selected>Выберите длительность</option>
                            <option value="1" >1 час</option>
                            <option value="2" >2 часа</option>
                            <option value="3" >3 часа</option>
                            <option value="4" >4 часа</option>
                            <option value="5" >5 часов</option>
                            <option value="6" >6 часов</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-light">Количество игроков</label>
                        <input id="Players" name="players" class="form-control" type="number" value="1" required />
                    </div>
                    <div class="form-group">
                        <label class="text-light">Время</label>
                        <input id="timepicker" name="time" type="text" class="form-control" placeholder="Выберите время" required />
                    </div>
                    <div class="form-group">
                        <button id="submit" type="submit" class="btn btn-danger btn-block">Забронировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

const weekdaysTimeStart = '08';
const weekdaysTimeEnd = '22';
const weekendsTimeStart = '09';
const weekendsTimeEnd = '23:59';

function getMinTime (select_date, dayOfWeek) {
    if (dayOfWeek == 0 || dayOfWeek == 6) {
        return weekendsTimeStart;
    } else {
        return weekdaysTimeStart;
    }
}

function getMaxTime (select_date, dayOfWeek) {
    if (dayOfWeek == 0 || dayOfWeek == 6) {
        return weekendsTimeEnd;
    } else {
        return weekdaysTimeEnd;
    }
}

function getDisabledTimes (busyTimes, select_date) {
    let res = [];
    if (select_date == '@DateTime.Now.Date.ToString("d")') {
        let startTime = '08:00';
        if (@DateTime.Now.TimeOfDay.Hours > 8) {
            let endTime = '@DateTime.Now.TimeOfDay.ToString(@"hh\:mm")';
            res.push([startTime, endTime]);
        }
    }
    if (!busyTimes[select_date]) {
        return res
    } else {
        let times = busyTimes[select_date];
        for (let i = 0; i <= times.length - 2; i+=2) {
            res.push(
                [
                    times[i], times[i + 1]
                ]
            );
        }
        return res;
    }
};

function addDurationLockedIntervals (select_date, dayOfWeek, disableTimeRanges, duration) {
    if (!disableTimeRanges) {
        return disableTimeRanges;
    }
    duration = parseInt(duration);
    let added = [];
    let sortedTimes = [...disableTimeRanges];
    sortedTimes.sort();
    let minTime = getMinTime(select_date, dayOfWeek);
    let maxTime = getMaxTime(select_date, dayOfWeek);
    let maxTimeInt = parseInt(maxTime.substring(0, 2));
    for (let i = parseInt(minTime.substring(0, 2)); i <= maxTimeInt; i++) {
        let lastBusy = i + duration;
        if (sortedTimes.length > 0 && i >= parseInt(sortedTimes[0][1].substring(0, 2))) {
            sortedTimes.shift();
        }
        if (
            (
                (sortedTimes.length > 0)
                &&
                (
                    (lastBusy > parseInt(sortedTimes[0][0].substring(0, 2)))
                    &&
                    (i < parseInt(sortedTimes[0][0].substring(0, 2)))
                )
            ) 
            || 
            (
                (lastBusy > maxTimeInt && maxTime != '23:59') || (maxTime == '23:59' && lastBusy > 24)
            )
        ){
            let nextI = i + 1;
            let time = `${i}:00`;
            let nextTime = `${nextI}:00`;
            if (i < 10) {
                time = `0${i}:00`;
            }
            if (nextI < 10) {
                nextTime = `0${nextI}:00`;
            }
            if (nextI > 23) {
                nextTime = `23:59`;
            }
            added.push([time.toString(), nextTime.toString()]);
        }
    }
    console.log(disableTimeRanges);
    console.log(added);
    return disableTimeRanges.concat(added);
};

function generateTimePicker(busyTimes) {
    select_date = $('#datepicker').val();
    let dayOfWeek = new Date(select_date.replace(/(\d+).(\d+).(\d+)/,"$3/$2/$1")).getDay();
    console.log("select_date - " + select_date);
    let disableTimeRanges = getDisabledTimes(busyTimes, select_date);
    disableTimeRanges = addDurationLockedIntervals(select_date, dayOfWeek, disableTimeRanges, $('#duration').val());
    console.log(disableTimeRanges);
    //-- Timepicker --
    $('#timepicker').timepicker({
        step: 60,
        disableTimeRanges,
        timeFormat: 'H:i',
        minTime: (select_date) => getMinTime(select_date, dayOfWeek),
        maxTime: (select_date) => getMaxTime(select_date, dayOfWeek),
    });
}

$(document).ready(function() {
    let date_selected = false;
    let duration_selected = false;
    let select_date;
  
    let textDisableTimeRanges = "";
    const busyTimes = {};
    @foreach (var data in Model.DictionarySessions) {
        @:busyTimes['@data.Key'] = [];
        foreach (var item in data.Value)
        {
            @:busyTimes['@data.Key'].push('@item');
        }
    }
    
    //-- Datepicker --
    $('#datepicker').datepicker({
        minDate: 0,
        maxDate: "+30D"
    });

    //lock timepicker
    $('#timepicker').prop('disabled', true);    
    //unlock timepicker
    $('#datepicker').on('change', () => {
        if ($('#datepicker').val()) date_selected = true;
        //console.log(dayOfWeek);
        if (date_selected && duration_selected) {
            generateTimePicker(busyTimes);
            $('#timepicker').prop('disabled', false)
        }
    });
    $('#duration').on('change', () => {
        if ($('#duration').val()) duration_selected = true;
        
        if (date_selected && duration_selected) {
            generateTimePicker(busyTimes);
            $('#timepicker').prop('disabled', false)
        }
    });
});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}