@page "{id?}"
@model PlayStationClub.Pages.Game.GamesModel

@{
    ViewData["ImagePath"] = "/img/";
    ViewData["Title"] = "Games - G-STICK";
    int ID = 0;
}

@foreach (var c in Model.Category)
{
    ID = c.Id;
}

<div class="games">
    <h3 class="games__title">Игры</h3>
    <div class="games__tabs games-tabs">
        <ul class="nav nav-tabs games-tabs__tabs-list" role="tablist">

            @foreach (var cat in Model.Categories.OrderBy(c => c.Id))
            {
                if (cat.Id == ID)
                {
                    <li class="nav-item" role="presentation">
                        <a id="" asp-page="/Game/Games" asp-route-id="@cat.Id" class="nav-link active">@cat.Name</a>
                    </li>
                }
                else
                {

                    <li class="nav-item" role="presentation">
                        <a asp-page="/Game/Games" asp-route-id="@cat.Id" class="nav-link">@cat.Name</a>
                    </li>
                }
            }
            </ul>
            <div class="tab-content games-tabs__tabs-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="games-tabs__game-list">
                    @if (ID == 0)
                    {
                        @foreach (var game in @Model.Games)
                        {
                            <div class="game">
                                <img src="@(ViewData["ImagePath"] + game.Image.FileName)" alt="@game.Image.FileName" />
                                <a href="#" class="game__title stretched-link" data-toggle="modal"
                                    data-target="#GameDetailsModal">@Html.DisplayName(game.Name)</a>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var game in @Model.GameWithCategory)
                        {
                            <div class="game">
                                <img src="@(ViewData["ImagePath"] + game.Image.FileName)" alt="@game.Image.FileName" />
                                <a href="#" class="game__title stretched-link" data-toggle="modal"
                                    data-target="#GameDetailsModal">@Html.DisplayName(game.Name)</a>
                            </div>
                        }
                    }
                    </div>
                </div>
            </div>
    </div>
</div>

